/* taillwind css configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #3490dc;
    --secondary-color: #ffed4a;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

.container0 {
  width: 100%;
  background-color: black;
}
.container-fluid {
  background-color: black;
}
.img {
  height: 2%;
  width: 30%;
  display: inline;
  padding: 0px;
}
.form {
  margin-left: 37%;
}
.conForm {
  padding-top: 8%;
}
.title {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.submitbutton {
  background-color: black;
  color: #ffed4a;
  border: black solid 1px;
  padding: 5px 10px;
  margin-top: 10%;
  margin-left: 5%;
  width: 40%;
  border-radius: 10%;
}
.go {
  color: #ffed4a;
}
.khufu {
  color: white;
}
.container {
  /* background-image: url("https://www.shutterstock.com/image-photo/bus-traveling-on-asphalt-road-600nw-1345741577.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #f6f6f6;
}

/* map styles */
.map-container {
  border-radius: 20px;
  height: 500px;
  transition: all 0.4s;
  position: relative !important;
  margin-top: 10px;
}
.card {
  border: #f6f6f690 solid 1px;
  background-color: #141212;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 5px 3px 24px 10px rgba(128, 127, 127, 0.457);
  cursor: pointer;
  width: 105%;
}
.line {
  color: rgba(128, 128, 128, 0.801);
  border-bottom: #f6f6f668 solid 0.5px;
  border-top-color: white;
}
.circule {
  background-color: #ffed4a;
  width: 20%;
  border-radius: 100%;
}
.text {
  color: rgb(189, 186, 186);
}
.conCard {
  box-sizing: content-box;
}
.search{
  width: 40%;
  padding: 0.5%;
  border: white;
  border-radius: 15px;
  margin-left: 30%;
  margin-top: 3%;
  padding-left: 40px;
}
.searchCon{
   background-color:black;
    
}
.search input{
  border: 0;
  outline:none;
}
.search:focus{
  outline: none;
  box-shadow: 0px -1px 22px 4px rgba(247,213,102,0.70);
}